<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>ALPR API</title>
</head>
<body>
<h1 align="center">ALPR API</h1>
<br>
<form id="upload-form" action="{{ url_for('mainApp') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" capture="environment" required>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <br>
    <h3>Readings</h3>
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>
